@media all and (min-width:1200px) {


    .activeGifos {
        background: #9CAFC3;
    }


    #imgIlustra {
        width: 399px;
        height: 190px;
    }
    .img-notfound {
        margin-top: 109px;
    }

    .searchgifos {
        .sg-container-search {

            width: 551px;


            @include themify($themes) {
                background: tema($bg); 
                border: tema($border); 
            }

            .sg-line-search {
                width: 505px;
            }

            #imgsearch-1 {
                top: -32px;
                left: -236px;
            }
        }

        .gifos-header-search {
            padding: 15px 54px 13px 55px;
            width: 505px;

            //order-radius: 27px;
            @include themify($themes) {
                background: tema($bg);
            }

            //border: 1px solid $bgcolorligth;
        }

        .ul-autocomplete {
            width: 505px;

        }

    }


    footer {
        height: 116px;
        grid-template-columns: 156px auto 1fr auto 156px;
        grid-template-rows: auto;
        grid-template-areas: ". redsocial . copy .";
        align-content: center;
        .redsocial {
            margin: unset;
            flex-flow: row wrap;
            .subredsocial {
                margin-top: unset;
            }
        }

        .pcopy {
            margin-bottom: unset;
        }
    }

}