

//LIGHT
$bg--light:#FFFFFF;
$bg-trending--light: #F3F5F8;
$border--light: 1px solid #572EE5;
$hover--light: #572EE5;
$text--light:#572EE5;
$closeModal--light: url(../images/close.svg);
$borderTopBottom--light:5px solid #572EE5;
$face--light:url(../images/icon_facebook.svg);
$twitter--light:url(../images/icon-twitter.svg);
$instagram--light:url(../images/icon_instagram.svg);


//DARK
$bg--dark:#37383C;
$bg-trending--dark:  #222326;
$border--dark: 1px solid #FFFFFF;
$hover--dark: #FFFFFF;
$text--dark:#FFFFFF;
$closeModal--dark: url(../images/close-modo-noct.svg);
$borderTopBottom--dark:5px solid #FFFFFF;
$face--dark:url(../images/icon_facebook_noc.svg);
$twitter--dark:url(../images/icon_twitter_noc.svg);
$instagram--dark:url(../images/icon_instagram_noc.svg);


//FUENTES
$font-weight--regular: 400;
$font-weight--semibold: 500;
$font-weight--bold: 700;
