@media all and (min-width:1200px) {
    .header-gifos {
        margin-top: unset;
     //   margin-bottom: 76px;
        grid-template-columns: 156px repeat(auto, 3) 156px;
        grid-template-rows: 90px;
        grid-template-areas: ". logo search menu .";
    }

    .nav-gifos {
        grid-area: menu;
    }

    .ul-gifos {
        display: flex;
        justify-content: space-between;
        width: 100%;

        .li-gifos {
            display: flex;
            align-items: center;

            .a-gifos {
                font-family: 'Montserrat';
                font-weight: bold;
                font-size: 13x;
                color: #572EE5;
                letter-spacing: 0;
                text-align: center;

                &:hover {
                    text-decoration: underline #5ED7C6 solid;

                }

                &:active {
                    color: #9CAFC3;
                }
            }
        }

        .btn-create-gifos {
            width: 54px;
            height: 54px;
            border-radius: 100%;


            color: #572EE5;
            border: 1px solid #572EE5;
            font-size: 16px;

            &:hover {
                color: white;
                background: #572EE5;
            }

        }


    }

    .activeGifos {
        background: #9CAFC3;
    }

    .main-gifos {
        margin-bottom: 149px;
    }

    .img-notfound {
        margin-top: 109px;
    }
    .searchgifos{
        .sg-container-search {
            padding: 2px;
            width: 551px;
            border-radius: 27px;
            background: $bgcolorwhite;
            border: 1px solid $bgcolorligth;
            .sg-line-search {
                width: 505px;
                opacity: 0.5;
                border: 1px solid #9CAFC3;
            }
            #imgsearch-1{
                position: relative;
                top:-32px;
                left: -236px;
            }
        }
    
        .gifos-header-search {
            padding: 15px 0px 13px 55px;
            width: 505px;
            //order-radius: 27px;
            background: $bgcolorwhite;
            //border: 1px solid $bgcolorligth;
        }

        .ul-autocomplete{
            width: 505px ;
           
        }

    }
    .search-trending-gifos {
        
        .fav-title{
            margin-bottom: 36px;
        }
        
        .stg-grid {
            
            grid-template-columns: repeat(4, auto);
            grid-template-rows: repeat(3, auto);
            grid-gap: 29px;

            .stg-container-img {
                width: 260px;
                height: 200px;
                img {
                    width: 260px;
                    height: 200px;
                }
            }

        }
        #stg-btnvermas-favorites{
            margin-top: 78px;
        }
    }
    
    .sec-tgs {
        #h3-tgs {
            margin: 67px 0px 12px 0px;
            font-size: 25px;
        }

        .p-tgs {
            font-size: 18px;
        }

        .div-tgs {
            margin: 53px 0px 182px 0px;
            grid-template-columns: repeat(auto, 3);
            grid-template-rows:  275px;
            grid-template-areas:                 "prev gallery next";
            grid-gap: 29px;

            .div-gallery {
                width: 1129px;
                height: 275px;
               
            }


            .li-slider {
                min-width: 357px;
                height: 275px;
                margin-right: 29px;
                .stg-container-img {
                    width: 357px;
                    height: 275px;
                    img {
                        width: 357px;
                        height: 275px;
                    }
                }

            }

        }
    }
    .sec-create-gifos{
        width: 100%;
        display: grid;
        align-content: center;
        justify-content: center;
        grid-template-columns: 1fr 688px 1fr;
        grid-template-rows: repeat(auto,4);
        grid-template-areas: "imgCam video imgCam2"
                             ". botones imgCam2"
                             "linea linea linea"
                             ". btnVideoAct .";
    }

    .div-img-container{
        grid-area:imgCam;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        .div-img-cam{       
            #cinta2{
                position: relative;
                top:-120px;
                left:158px;
            }  
            #cinta1{
                position: relative;
                top:-110px;
                left:156px;
                
            }
    
            #luzImgCam{
                width: 91px;
                height: 151px;
            }         
        }

    }
    
    .div-video-container{
        grid-area:video;
        width: 688px;
        height: 390px;
        border: 1px solid #572EE5;
        display: flex;
        justify-content: center;
        align-items: center;
        .div-video-gifos{
            width: 648px;
            height: 350px;
            border: 1px solid #50E3C2;
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            justify-content: center;
            .h1-video{
                font-size: 25px;
                text-align: center;
                line-height: 35px;  
            }
            .p-video{
                
                font-size: 16px;
                font-family: 'Roboto';
                font-weight: 500;
                color: #000000;
                text-align: center;
                line-height: 29px;                
            }
            .sec-create-gifos-videos{
                width: 480px;
                height: 320px;
            }
        }
    }
    
    .div-img-cam2{
        margin-left: 67px;
        grid-area: imgCam2;
        height: 100%;
        display: flex;
        align-items: flex-end;
        justify-content: flex-start;
    }
    .div-botones{
        grid-area: botones;
        height: 75px;
        display: flex;
        justify-content: center;
    }
    .div-line-gifos{
        grid-area:linea;
        display: flex;
        justify-content: center;
        width: 796px ;
        height: 7px;
        background: #572EE5;
    }
    .div-btnvideo-gifos{
        grid-area:btnVideoAct;
        display: flex;
        justify-content: center;

    }

    footer {
        height: 116px;
    }

}