$bgcolorligth:#572EE5;
$bgtrending: #F3F5F8;
$fonttrending:#000000;
$bgcolorwhite:#FFFFFF;

body {
    min-width: 320px;
}

h1 {
    font-size: 25px;
    line-height: 33px;
    width: 286px;

    &::after {
        content: 'GIFOS';
        color: #5ED7C6;
    }
}

h3 {
    font-size: 16px;
}

.header-gifos {
    position: sticky;
    top: 0;
    display: grid;
    width: 100%;
    height: 95px;
    border-top: 5px solid $bgcolorligth;
    align-content: center;
    align-items: center;
    z-index: 2;
    background-color: white;
}

.logo {
    grid-area: logo;

    width: 48.8px;
    height: 48.8px;
    background: url("../images/logo-mobile-modo-noct.svg");
    background-repeat: no-repeat;
    background-size: 48.8px;
    cursor: pointer;

    .logotitle {
        position: relative;
        top: 17px;
        left: 12px;
        cursor: pointer;

        p {
            font-family: 'Roboto';
            font-weight: 900;
            font-size: 16px;
            color: $bgcolorligth;
        }
    }
}

.gifos-main {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.gifos-header {
    display: flex;
    flex-flow: column wrap;
    align-items: center;


    img {
        width: 273px;
    }
}

.searchgifos {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;

    #sg-h3 {
        margin-top: 44px;
    }

    .sg-container-search {
        //padding: 15px 64px 13px 55px;
        width: 334px;
        border-radius: 27px;
        background: $bgcolorwhite;
        border: 1px solid $bgcolorligth;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        .sg-line-search {
            width: 334px;
            opacity: 0.5;
            border: 1px solid #9CAFC3;
        }
    }

    .gifos-header-search {
        padding: 15px 64px 13px 55px;
        width: 334px;
        //order-radius: 27px;
        background: $bgcolorwhite;
        //border: 1px solid $bgcolorligth;
    }


    .ul-autocomplete {
        width: 334px;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: flex-start;

        .li-autocomplete {
            .a-autocomplete {
                display: flex;
                flex-flow: row-reverse wrap;
                font-family: 'Roboto';
                font-weight: 400px;
                font-size: 16px;
                color: #9CAFC3;
                padding: 10px;

                #imgsearch {
                    margin-right: 25px;
                }

            }
        }
    }

    .sg-parrafo {
        width: 550px;

        p {
            line-height: 25px;
            font-size: 14px;
        }
    }

    .sg-line {
        margin: 35px 0px 43px 0px;
        opacity: 0.5;
        border: 1px solid #9CAFC3;
    }
}

.btn-principal {
    width: 32px;
    height: 32px;
    border-radius: 6px;
    background: white;
    //margin-top: 10px;
    //z-index: 4;
}

.btn-favorite,
.btn-download,
.btn-open {

    margin-right: 11px;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    cursor: pointer;
}

.btn-favorite {
    background-image: url(../images/icon-fav-hover.svg);
}

.btnactive {
    background-image: url(../images/icon-fav-active.svg);
}

.btn-download {
    background-image: url(../images/icon-download.svg);
}

.btn-open {
    background-image: url(../images/icon-max.svg);
}

.img-notfound {
    margin-top: 54px;

    p {
        margin-top: 30px;
        font-size: 22px;
        color: #50E3C2;
        text-align: center;
        line-height: 25px;
    }
}

.search-trending-gifos {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    justify-content: center;
    text-align: center;

    .stg-grid {
        width: 100%;
        height: 100%;
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: repeat(auto, 6);
        grid-gap: 21px;
        align-content: center;
        justify-content: center;
        text-align: center;

        /*         .stg-container-img {

            position: relative;
            background: #572EE5;
            width: 156px;
            height: 120px;

            .stg-container-btn {
                margin-top: -6px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            img {
                position: relative;
                top: -36px;
                width: 156px;
                height: 120px;

                &:hover {
                    opacity: 0.5;
                    filter: alpha(opacity=50);
                }

            }
        } */
    }

    #stg-btnvermas-favorites {
        display: flex;
        margin-top: 78px;
        justify-content: center;

        #ul-btn-pag {
            display: flex;
            width: 320px;
            align-items: center;
            justify-content: space-between;

            .item-btn-pag {
                width: 32px;
                height: 32px;
                font-size: 18px;
                font-family: 'Roboto';
                font-weight: 500;
                color: #9CAFC3;
                text-align: center;
                border-radius: 100%;
            }

        }

    }

}

.sec-tgs {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;

    #h3-tgs {
        margin: 44px 0px 9px 0px;
        font-size: 25px;
    }

    background: $bgtrending;

    .p-tgs {
        font-family: 'Roboto';
        color: $fonttrending;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        line-height: 23px;
    }

    .div-tgs {
        width: 100%;
        margin: 32px 0px 82px 0px;
        display: grid;

        justify-content: center;
        align-items: center;
        grid-gap: 22px;



        .btnprev {
            grid-area: prev;
        }

        .btnnext {
            grid-area: next;
        }



        .div-gallery {
            grid-area: gallery;
            position: relative;
            overflow: hidden;
            margin: 0 auto;
        }

        .ul-slider {
            margin: 0;
            padding: 0;
            list-style: none;
            width: 100%;
            display: flex;
            position: absolute;
            left: 0;
            transition: all 1s ease;
        }

        .li-slider {
            display: inline-block;
        }

    }
}


footer {
    border-bottom: 5px solid $bgcolorligth;
    height: 196px;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    p{
        font-family: 'Roboto';
        font-weight: 400;
        font-size: 13px;
        color: #000000;
        letter-spacing: 0;
    }
    .redsocial {
        display: flex;
        align-items: center;
        
    }
    #idface, #idtwitter,#idinstagram{
        cursor: pointer;
    }
    #idface {
        margin: 0px 19px 0px 19px;
    }

    #idtwitter {
        margin-right: 19px;
    }

}