@media all and (min-width: 1200px) {
  .header-gifos {
    margin-top: unset;
    -ms-grid-columns: 156px (3)[auto] 156px;
        grid-template-columns: 156px repeat(auto, 3) 156px;
    -ms-grid-rows: 90px;
        grid-template-rows: 90px;
        grid-template-areas: ". logo search menu .";
  }
  .nav-gifos {
    -ms-grid-row: 1;
    -ms-grid-column: 4;
    grid-area: menu;
  }
  .ul-gifos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 100%;
  }
  .ul-gifos .li-gifos {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ul-gifos .li-gifos .a-gifos {
    font-family: 'Montserrat';
    font-weight: bold;
    font-size: 13x;
    color: #572EE5;
    letter-spacing: 0;
    text-align: center;
  }
  .ul-gifos .li-gifos .a-gifos:hover {
    -webkit-text-decoration: underline #5ED7C6 solid;
            text-decoration: underline #5ED7C6 solid;
  }
  .ul-gifos .li-gifos .a-gifos:active {
    color: #9CAFC3;
  }
  .ul-gifos .btn-create-gifos {
    width: 54px;
    height: 54px;
    border-radius: 100%;
    color: #572EE5;
    border: 1px solid #572EE5;
    font-size: 16px;
  }
  .ul-gifos .btn-create-gifos:hover {
    color: white;
    background: #572EE5;
  }
  .activeGifos {
    background: #9CAFC3;
  }
  .main-gifos {
    margin-bottom: 149px;
  }
  .img-notfound {
    margin-top: 109px;
  }
  .search-trending-gifos .fav-title {
    margin-bottom: 36px;
  }
  .search-trending-gifos .stg-grid {
    -ms-grid-columns: (auto)[4];
        grid-template-columns: repeat(4, auto);
    -ms-grid-rows: (auto)[3];
        grid-template-rows: repeat(3, auto);
    grid-gap: 29px;
  }
  .search-trending-gifos .stg-grid .stg-container-img {
    width: 260px;
    height: 200px;
  }
  .search-trending-gifos .stg-grid .stg-container-img img {
    width: 260px;
    height: 200px;
  }
  .search-trending-gifos #stg-btnvermas-favorites {
    margin-top: 78px;
  }
  .sec-tgs #h3-tgs {
    margin: 67px 0px 12px 0px;
    font-size: 25px;
  }
  .sec-tgs .p-tgs {
    font-size: 18px;
  }
  .sec-tgs .div-tgs {
    margin: 53px 0px 182px 0px;
    -ms-grid-columns: (3)[auto];
        grid-template-columns: repeat(auto, 3);
    -ms-grid-rows: 275px;
        grid-template-rows: 275px;
        grid-template-areas: "prev gallery next";
    grid-gap: 29px;
  }
  .sec-tgs .div-tgs .div-gallery {
    width: 1129px;
    height: 275px;
  }
  .sec-tgs .div-tgs .li-slider {
    min-width: 357px;
    height: 275px;
    margin-right: 29px;
  }
  .sec-tgs .div-tgs .li-slider .stg-container-img {
    width: 357px;
    height: 275px;
  }
  .sec-tgs .div-tgs .li-slider .stg-container-img img {
    width: 357px;
    height: 275px;
  }
  .sec-create-gifos {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-flex-line-pack: center;
        align-content: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-grid-columns: 1fr 688px 1fr;
        grid-template-columns: 1fr 688px 1fr;
    -ms-grid-rows: (4)[auto];
        grid-template-rows: repeat(auto, 4);
        grid-template-areas: "imgCam video imgCam2" ". botones imgCam2" "linea linea linea" ". btnVideoAct .";
  }
  .div-img-container {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: imgCam;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .div-img-container .div-img-cam #cinta2 {
    position: relative;
    top: -120px;
    left: 158px;
  }
  .div-img-container .div-img-cam #cinta1 {
    position: relative;
    top: -110px;
    left: 156px;
  }
  .div-img-container .div-img-cam #luzImgCam {
    width: 91px;
    height: 151px;
  }
  .div-video-container {
    -ms-grid-row: 1;
    -ms-grid-column: 2;
    grid-area: video;
    width: 688px;
    height: 390px;
    border: 1px solid #572EE5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .div-video-container .div-video-gifos {
    width: 648px;
    height: 350px;
    border: 1px solid #50E3C2;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .div-video-container .div-video-gifos .h1-video {
    font-size: 25px;
    text-align: center;
    line-height: 35px;
  }
  .div-video-container .div-video-gifos .p-video {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: 500;
    color: #000000;
    text-align: center;
    line-height: 29px;
  }
  .div-video-container .div-video-gifos .sec-create-gifos-videos {
    width: 480px;
    height: 320px;
  }
  .div-img-cam2 {
    margin-left: 67px;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 3;
    grid-area: imgCam2;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .div-botones {
    -ms-grid-row: 2;
    -ms-grid-column: 2;
    grid-area: botones;
    height: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .div-line-gifos {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    -ms-grid-column-span: 3;
    grid-area: linea;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 796px;
    height: 7px;
    background: #572EE5;
  }
  .div-btnvideo-gifos {
    -ms-grid-row: 4;
    -ms-grid-column: 2;
    grid-area: btnVideoAct;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer {
    height: 116px;
  }
}
/*# sourceMappingURL=styleDesktop.css.map */